<footer class="bg-main">
    <div class="container">
      <div class="d-flex justify-content-between align-items-start">

        <div class="">
          <div class="footer-nav">
            <ul class="list-unstyled d-flex align-items-center mb-0">
              <li><a href="#" class="me-1_5rem text-white">首頁</a></li>
              <li><a href="#" class="ms-1_5rem me-1_5rem text-white">系列鏡框</a></li>
              <li><a href="#" class="ms-1_5rem me-1_5rem text-white">門市據點</a></li>
              <li><a href="#" class="ms-1_5rem me-1_5rem text-white">部落格</a></li>
              <li><a href="#" class="ms-1_5rem text-white">常見問題</a></li>
            </ul>
          </div>
  
          <ul class="list-unstyled contact mb-0">
            <li class="d-flex align-items-center"><img src="/assets/images/ic_tel.svg" alt="telphone"><a href="tel:+0800-000-000" class="text-white">0800-000-000</a></li>
            <li class="d-flex align-items-center"><img src="/assets/images/ic_mail.svg" alt="mail"><a href="mailto:glasses@business.com" class="text-white">glasses@business.com</a></li>
          </ul>
        </div>
  
        <ul class="list-unstyled d-flex align-items-center mb-0">
          <li><img src="/assets/images/ic-social-fb.png" alt="FB" class="ic-social"></li>
          <li><img src="/assets/images/ic_social_ig.png" alt="IG" class="ic-social ms-1rem me-1rem"></li>
          <li><img src="/assets/images/ic_social_line.png" alt="LINE" class="ic-social"></li>
        </ul>
      </div>

      
      <hr class="footer-hr">
      <div class="d-md-flex justify-content-between">
        <p class="text-white mb-2">Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="list-unstyled d-md-flex mb-0 terms">
          <li class="mb-2"><a href="#" class="me-3rem text-white">隱私權政策</a></li>
          <li><a href="#" class="text-white">服務條款</a></li>
        </ul>
      </div>
    </div>
  </footer>