<nav class="bg-main">
    <div class="container">
      <div class="header">
        <img src="/assets/images/logo-white.png" alt="眼鏡Logo" style="width: 80px;" class="py-3">
        <ul class="list-unstyled d-flex align-items-center mb-0">
          <li><a href="/pages/product_optical.html" class="fz-4 text-white">系列鏡框</a></li>
          <li><a href="#" class="fz-4 text-white">門市據點</a></li>
          <li><a href="#" class="fz-4 text-white">部落格</a></li>
          <li><a href="/pages/FAQ.html" class="fz-4 text-white">常見問題</a></li>
        </ul>
      </div>
    </div>
</nav>