<nav aria-label="product-page page navigation" class="page-padding">
    <ul class="pagination justify-content-center mb-0" style="--bs-pagination-border-radius: 0px;">
      <li class="page-item"><a class="page-link" href="#">上一頁</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link active" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
    </ul>
</nav>