<ul class="list-unstyled d-flex justify-content-between mb-0 fz-3">
    <li>BJ41600S</li>
    <li class="fw-medium color-main">NTD3,490</li>
</ul>
<div class="text-start d-flex">
    <div class="box box1 me-2"></div>
    <div class="box box2"></div>
</div>