<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <section class="FAQ section-padding">
        <div class="container pt-0 pt-xl-3">
            <div class="row">
                <div class="col col-xl-8">
                    <h2 class="FAQ-title FAQ-mb ps-3" style="border-left: 8px solid #9F1213;">常見問題</h2>
                    <h3 class="fz-3 fw-bold mb-4">我想詢問配鏡問題</h3>
                    <ul class="list-unstyled mb-0 pb-3 pb-md-0">
                        <li class="FAQ-mb">
                            <h4 class="fz-4 fw-bold">Q1.請問可否自備鏡框單配鏡片？</h4>
                            <p class="mb-0">A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
                        </li>
                        <li class="FAQ-mb">
                            <h4 class="fz-4 fw-bold">Q2.眼鏡都可以20分鐘取件嗎？</h4>
                            <p class="mb-0">A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
                        </li>
                        <li class="FAQ-mb">
                            <h4 class="fz-4 fw-bold">Q3.散光鏡片需要額外加價嗎？</h4>
                            <p class="mb-0">A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
                        </li>
                        <li class="FAQ-mb">
                            <h4 class="fz-4 fw-bold">Q3.散光鏡片需要額外加價嗎？</h4>
                            <p class="mb-0">A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
                        </li>
                        <li>
                            <h4 class="fz-4 fw-bold">Q5.請問可以單購買鏡框嗎？</h4>
                            <p class="mb-0">A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。<br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
